.u-section-1 {
  background-image: url("images/tgrd-min.jpg");
  background-position: 50% 85.72%;
}

.u-section-1 .u-sheet-1 {
  min-height: 567px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  font-weight: normal;
  margin: 261px 367px 0 442px;
}

.u-section-1 .u-text-2 {
  font-size: 6rem;
  font-weight: normal;
  margin: 0 auto 0 442px;
}

.u-section-1 .u-text-3 {
  margin: 17px 318px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 468px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 342px;
    margin-right: 320px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 342px;
  }

  .u-section-1 .u-text-3 {
    font-weight: normal;
    margin-right: 262px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 358px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 232px;
    margin-right: 245px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 232px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 201px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 269px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 142px;
    margin-right: 184px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 142px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 151px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 169px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-left: 9px;
    margin-right: 116px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    margin-left: 9px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 95px;
  }
}